
 /****************************
 * 
 * #admin forms
 * 
 * */
body #main form input{
    margin:1px;
}

body #main form .ss_sprite{
    color:#567;
}
body #main form .ss_sprite a{
    font-size:10px;
    color:#567;
}

#main form textarea{
    font-family:Verdana,Geneva,Arial,Helvetica,sans-serif;
    font-size:12px;
    width:100%;
}

#main form input.submit{
    float:right;
}

.deleted{
    border:1px dashed #900;
    background-color:#FFAAAA;
}

h3 span.ss_sprite{
    display:inline-block;
    margin:0 0 -3px;
}
