body {
    padding: 0;
    color:#1C1550;
    font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
}
body strong{
    text-transform:uppercase;
}
body a{
    text-decoration:none;
}
body div{

}
body div.colborder{
    border-right-color:#000;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    
}
h1, h2, h3{
    margin:0 0 10px 10px;
}
h3{
    color: #BD0000;
}
a{
    
}

a:hover{
    
}



/*****************************/





#header div {
    margin-bottom:0px;
    padding:20px 0 0 0;
}
#header a {
    border:none;
}





/*****************************/





#global-nav {
    margin-top:50px;
    margin-bottom:0px;
    float:right;
    text-align:right;
}
#global-nav ul{
    margin-bottom:0px;
}

#global-nav ul li{
    list-style:none;
    display:inline;
}


/*****************************/
#welcome{
    text-align:center;
    color:#1C1550;
}
#mission_statement{
    text-align:center;
    margin-top:-20px;
    margin-left:200px;
    width:500px;
    padding:20px;
}

#navigation h5{
    text-align:right;
    color: #BD0000;
}
#navigation h6{
    text-align:right;
}
#navigation ul{
    margin-right:0;
}
#navigation li{
    list-style:square;
    text-align:right;
}
/****************************
 * 
 * #footer
 * 
 * */
#footer {
    text-align: right;
} 
#footer{
    padding: 0 0 20px 0;
}
#footer div{
}





/****************************
 * 
 * #blueprintbutton
 * 
 * */
#blueprintbutton {
    /*float: right;
    margin-top: 85px;
    margin-right: 24px;
    vertical-align: middle;*/
   
   position:relative;
   bottom:0;
   left:0;
} 





/****************************
 * 
 * #sharethisbutton
 * 
 * */
#sharethisbutton {
    /*float: left;
    margin:0;
    padding-top:70px;*/
   position:relative;
   bottom:0;
   left:0;
   margin:0;
}


/****************************
 * 
 * #sharethisbutton
 * 
 * */
#copyright {
    margin:0;
}
#copyright blockquote{
    margin:0;
    padding:0;
}
/*****************************/