<div id='copyright' >
    <div style='text-align:center'>
        <img style="float:left" 
    		 src='${ $.env("root")+"images/button.png" }' 
             alt="" 
    	     title="This site uses blueprint-css" 
    		 width="80" 
    		 height="15"/> 
    <em>
        copyright 2009-2010 BigtableJS Team
    </em>
         <img style="float:right" 
    		 src='${ $.env("root")+"images/claypool-button.png" }' 
             alt="" 
    	     title="This site uses jquery-claypool-server" 
    		 width="80" 
    		 height="15"/>
    </div>
</div>