
<!--
/**
 * @author thatcher
 */
-->
<meta 	content="en-us" 
		http-equiv="Content-Language"/>
<meta 	content="text/html; charset=utf-8" 
		http-equiv="Content-Type"/>
<meta 	name="keywords"
		content="javascript, resig, envjs, thatcher, browser, dom, window,
                document, firefox, internet explorer, safari, opera,
                testing, server side javascript, jquery, prototype,
                html, screen scrape, web crawler"/>
<meta 	name="description"
		content="Envjs is a simulated javascript browser environment originally
                written by John Resig.  It provides a shell fimiliar to firebug
                console users, and can be used to script headless javascript 
                unit tests, crawl the web, or used as a basis for server-side 
                javascript.  The original blog post can be found here: 
                http://ejohn.org/blog/bringing-the-browser-to-the-server/" />
