<script src='${ $.env("root")+"lib/jquery.js" }'                type="text/javascript" ></script>
<script src='${ $.env("root")+"lib/jquery.claypool.js" }'       type="text/javascript" ></script>
<script src='${ $.env("root")+"lib/jquery.livequery.js" }'      type="text/javascript" ></script>

