<script src='${ $.env("root")+"lib/jquery.js" }'     type="text/javascript" ></script>
<script src='${ $.env("root")+"scripts/admin.js" }'  type="text/javascript" ></script>
<script src='${ $.env("root")+"plugins/creole.js" }' type="text/javascript" ></script>