
<h6>${ title }</h6>
<ul id='${ $id }' >
     <li>Latitude: ${ latitude }</li>
     <li>Longitude: ${ longitude }</li>
     <li>Formatted Address: ${ formatted_address }</li>
     <li>Location Type: ${ location_type }</li>
</ul>
