{{ extend $.env( "templates" ) + "html/base.tmpl" }}

{{ block title }}
<title>Envjs ${ type == "guides" ? "Guide" : "API" }</title>
{{ /block }}

{{ block script_extra }}
<script type="text/javascript" 
        src='${ $.env("root")+"plugins/highlighter/shCore.js" }'></script>
<script type="text/javascript" 
        src='${ $.env("root")+"plugins/highlighter/shBrushJScript.js" }'></script>
<script type="text/javascript" 
        src='${ $.env("root")+"plugins/highlighter/shBrushBash.js" }'></script>
<script type="text/javascript" 
        src='${ $.env("root")+"plugins/highlighter/shBrushJava.js" }'></script>
        
<link type="text/css" rel="stylesheet" 
      href='${ $.env("root")+"css/highlighter/shCore.css" }'/>
<link type="text/css" rel="stylesheet"
      href='${ $.env("root")+"css/highlighter/shThemeMidnight.css" }'/>

<script type="text/javascript">
    SyntaxHighlighter.config.clipboardSwf = "/plugins/highlighter/clipboard.swf";
    SyntaxHighlighter.all();
</script>
{{ /block }}


{{ block main }}
<div id='doc'>
    <h3>
        <a  href="${ links.docs }">
            &lt; documentation
        </a>
    </h3>
    <div id='table_of_contents'
         class=' column span-4 colborder'>
             
        <h2>
        ${ type == "guides" ? "Guide" : "API" }
        </h2>
        {{ each(i, page) pages }}
        <h4>${ page }</h4>
        <ul>
            {{ each _(docs).where("page", page) }}
            {{ if this.name !== "intro" && (admin || !this.deleted) }}
            <li class='${ this.deleted ? "deleted" : ""}'>
                <a href='${ "#"+this.$id }'> ${ this.name } </a>
            </li>
            {{ /if }}
            {{ /each }}
            {{ if admin }}
            <li>
                <form method='post' action='${ $.env( "root" ) + "admin/add/" + type + "/" }'>
                    <input type='hidden'
                           name='page'
                           value='${ page }'/>
                    <input type='text'
                           name='name'
                           value=''/>
                    <span class="ss_sprite  ss_add">
                    <input type='submit'
                           class='submit'
                           value='add' />
                     ${ page }
                    </span>
                </form>
            </li>
            {{ /if }}
        </ul> 
        {{ /each }}
        
    </div>
    
    <div class='first column span-17'>
        {{ if admin }}
        <div style='clear:both;text-align:center;'>
            <a id='show_deleted'
               href='#show/deleted'>
               show deleted ${ type } entries
            </a>
            <span> | </span>
            <a id='hide_deleted'
               href='#hide/deleted'>
               hide deleted ${ type } entries
            </a>
        </div>
        {{ /if }}
        {{ each(i, page) pages }}
        <h2>
            <img src='${ $.env( "root" ) + ( "images/icon-green.png" ) }'
                 height='30px'/>
            ${ page }
        </h2>
        <ul>
        {{ each _(docs).where("page", page) }}
        {{ if (admin || !this.deleted) }}
        <li id='${ this.$id }' 
            class='${ this.deleted ? "deleted" : ""}'>
            {{ if "intro" === this.name && i === 0 && !admin}}
            <div id='versions' class='last column span-4'>
                <span class='quiet'>see also..</span>
                <h4 >
                    <a href='${ $.env("root") + "doc/" + (type == "guides" ? "apis" : "guides") }'>
                        ${ type == "guides" ? "API" : "Guide" }
                    </a>
                </h4>
                
                <img src='${ $.env( "root" ) + "images/icon-brown.png" }' 
                     alt='${ this.title } ${ this.id }'
                     height='150px'/>
                     <br/>
                <ul>
                    {{ each versions }}
                    <li>
                        <a href='${ this.doc.link }'>
                            ${ this.doc.title }
                        </a> 
                        <br/>
                     </li>
                    {{ /each }}
                </ul>
            </div>
            {{ elseif !( "intro" === this.name )  }}
            <h3>
                ${ this.name }
                {{ if admin && this.deleted }}
                <span class="ss_sprite  ss_add">
                    <a href='${ $.env("root") }admin/restore/${ type }/${ this.$id }'> 
                         restore '${ this.name }'
                    </a>
                </span>
                {{ elseif admin }}
                <span class="ss_sprite  ss_delete">
                    <a href='${ $.env("root") }admin/remove/${ type }/${ this.$id }'> 
                         delete '${ this.name }'
                    </a>
                </span>
                {{ /if }}
            </h3>
            <hr/>
            {{ /if }}
            
            {{ if admin }}
                {{ include $.env("templates")+"html/pages/doc.form.tmpl" }}
                <br/>
            {{ else }}
                {{ html $.creole(this.description) }}
                
                {{ each(index, example) examples }}
                <div style='margin: 20px 40px;border: 1px solid #123;background:#012;-moz-border-radius:0 10px 10px 10px'>
                    
                    {{ if "//javascript" == example.substring(0, 11) }}
                    <pre class="brush: javascript;">${ example }</pre>
                    {{ elseif "#!bash" == example.substring(0,6) }}
                    <pre class="brush: bash;">${ example }</pre>
                    {{ elseif "#!java" == example.substring(0,6) }}
                    <pre class="brush: java;">${ example }</pre>
                    {{ else }}
                    <pre class="brush: javascript;">${ example }</pre>
                    {{ /if}}
                    
                </div>
                {{ /each }}
                
             {{ /if }}
        </li>
        {{ /if }}
        {{ /each }}
        </ul>
        {{ /each }}
    </div>
    
</div>
{{ /block }}