{{ extend $.env( "templates" ) + "html/base.tmpl" }}

{{ block title }}
<title>Envjs Documentation</title>
{{ /block }}

{{ block main }}
<div id='docs'>
    <h3>documentation</h3>
    {{ each versions }}
    <h4 style='text-align:center'>${ this.name }</h4>
    <div class='first column span-11 colborder '>
        <ul>
            <li>
                <a href='${ $.env("root")+"doc/guides"}' >
                    <strong> Guide </strong>
                    <img
                        src=' ${ $.env("root")+"images/icon-green.png" }'
                        alt='Guide ${ this.$id }'
                        height='50px'
                    />
                </a>
            </li>
        </ul>
    </div>
    <div class=' last column  span-10'>
        <ul>
            <li>
                <a href='${ $.env("root")+"doc/apis" }' >
                    <img
                        src=' ${ $.env("root")+"images/icon-brown.png" }'
                        alt='API ${ this.$id }'
                        height='50px'
                    />
                    <strong> API </strong>
                </a>
            </li>
        </ul>
    </div>
    {{ /each }}
</div>
{{ /block }}