{{ extend $.env( "templates" ) + "html/base.tmpl" }}

{{ block title }}
<title>Envjs Events</title>
{{ /block }}

{{ block main }}
<div id='events' >
    <h3>events</h3>
    <div style='width:auto;overflow-x:auto;'>
        {{ each events }}
        <div class='event column span-4 colborder'>
            <span> ${ this.date } </span>
            <strong> ${ this.title } </strong>
            <br/>
            <a href='${ this.url }'>
                <img
                    src='${ $.env("root") + this.image }'
                    alt='${ this.title }'
                    width='60px'
                />
            </a>
            <p>
                <a href='${ this.url }'>
                    ${ this.location }
                </a>
            </p>
            {{ html this.description }}
            {{ if $i % 6 === 5 }}
            <div style='margin-top:8em;clear:both;'>
                <h6>more...</h6>
                <hr/>
             </div>
            {{ /if }}
        </div>
        {{ /each }}
    </div>      
</div>
{{ /block }}
