
<form action='${ $.env("root") }admin/save/news/${ this.$id }' 
      method='post'>
          
    <table>
        <thead/>
        <tbody>
            
            <tr>
                <td colspan='2'>
                    {{ if admin && this.deleted }}
                    <span class="ss_sprite  ss_add">
                        <a href='${ $.env("root") }admin/restore/news/${ this.$id }'> 
                             restore '${ this.title }'
                        </a>
                    </span>
                    {{ elseif admin }}
                    <span class="ss_sprite  ss_delete">
                        <a href='${ $.env("root") }admin/remove/news/${ this.$id }'> 
                             delete '${ this.title }'
                        </a>
                    </span>
                    {{ /if }}
                </td>
                <td colspan='2'>
                    <input type='hidden'
                           name='deleted'
                           value='${ this.deleted }'/>
                </td>
            </tr>
            
            <tr>
                <td>
                <label for='${ this.$id }-title'>
                    Title
                </label>
                </td>
                <td>
                <input type='text' 
                       name='title' 
                       value='${ this.title }'/>
                </td>
                <td>
                <label for='${ this.$id }-date'>
                    Date
                </label>
                </td>
                <td>
                <input type='text' 
                       name='date' 
                       value='${ this.date }'/>
                </td>
            </tr>
            

            <tr>
                <td colspan='4'>
                <label for='${ this.$id }-description'>
                    Description
                </label>
                <textarea id='${ this.$id }-description'
                          name='description'>${ this.description }</textarea>
                </td>
            </tr>
            
            <tr>
                <td colspan='3'>
                    <input type='hidden'
                           name='$id'
                           value='${ this.$id }'/>
                </td>
                <td>
                    <input type='submit' 
                           class='submit'
                           value='save'/>
                </td>
            </tr>
        </tbody>
    </table> 

</form>
