{{ extend $.env( "templates" ) + "html/base.tmpl" }}

{{ block title }}
<title>Envjs Support</title>
{{ /block }}

{{ block main }}
<div class="push-1 span-15 column first">
    <div id='contact'>
        <h3>support</h3>
        <p>
            If you have questions, need help, would like to submit a
            bug report or small patch, or become an active contibutor  
            of the Envjs project please join us on one of our forums.
            There are many developers who have contributed, and/or,
			who use Envjs actively.  We will always make our best effort 
			to answer your questions as fast as possible.  
        </p>
		<p>
		    Please try to read all available documentation and provide
			as much information as relevant.  Also, try a quick search 
			through the archives on our group list to see if anyone has 
			had a similar question that has already been answered.
		</p>
        <h3>license</h3>
        <p>
            Envjs is currently available for use in all personal or 
            commercial projects under both the 
            <a title="http://github.com/thatcher/env-js/tree/master/src/licenses/MIT-LICENSE.txt" 
                href="http://github.com/thatcher/env-js/tree/master/src/licenses/MIT-LICENSE.txt">
                MIT License
            </a> and the
            <a title="http://github.com/thatcher/env-js/tree/master/src/licenses/GPL-LICENSE.txt" 
                href="http://github.com/thatcher/env-js/tree/master/src/licenses/GPL-LICENSE.txt">
                GPL License
            </a>. 
            This means that you can choose the license that best suits 
            your project, and use it accordingly.
        </p>
        
        <h3>donate</h3>
        <p>
            Donates are graciously accepted, and though we have a low overhead
			as we take full advantage of the services listed, we will
			use any donated funds to promote and support Envjs.
			<br/><br/>
            <a href="http://pledgie.com/campaigns/3860" style='float:right;'>
               <img border="0" 
                    src="http://www.pledgie.com/campaigns/3860.png?skin_name=chrome" 
                    alt="Click here to lend your support to: env-js and make a donation at www.pledgie.com !"/>
            </a>
        </p>
		
    </div>
</div>
<div class="span-7 column last">
    <div id='mailing_list'>
        <h3 style='margin-top:20px;'>
        mailing list
        </h3>
        <p>
            <img src='${ $.env("root") + "images/groups_logo_sm.gif" }' 
                 alt='google groups'
                 style='float:right;'/>
            If you have questions pertaining to how to use Envjs
            please search our user group, subscribe, or just post
            to our 
            <a href='http://groups.google.com/group/envjs'>
                Google Group
            </a>. 
        </p>
        <h3>issue tracking</h3>
        <p>
            <img src='${ $.env("root") + "images/lighthouseapp_logo_sm.png" }' 
                 alt='lighthouseapp'
                 style='float:right;'/>
            If you would like to report a bug, submit a patch, request
            a new feature, or take a sneak peek at what's coming soon,
            visit our issue tracking system at 
            <a href='http://envjs.lighthouseapp.com/projects/21590-envjs/overview'>
                Lighthouse
            </a>. 
        </p>
        <h3>source code</h3>
        <p>
            <img src='${ $.env("root")+"images/github_logo_sm.png" }' 
                 alt='github'
                 style='float:right;'/>
            If you would like to start playing with the source yourself,
            contribute regulary, or fork till your heart's content,
            check out our source control repository on 
            <a href='http://github.com/thatcher/env-js/tree/master'>
                Github
            </a>. 
        </p>
    </div>
 </div>
{{ /block }}